{%- render 'vite-tag' with '@/additionalEntrypoints/blog/article.css' -%}

<article itemscope>
  <div class="text-center py-6 bg-brand-30 mt-4 px-4">
    <h1 class="text-brand-700 text-xl font-bold xl:text-3xl">{{ article.title }}</h1>
  </div>

  <div class="flex flex-col justify-center py-6 px-4 sm:flex-row xl:py-8">
    <div class="pt-10 space-y-6 sm:max-w-md sm:pt-0 sm:pl-10">
      {% for item in blog.articles %}
        {% liquid
          if item.id == article.id
            continue
          endif
        %}
        <a href="{{ item.url }}" class="flex space-x-4 space-x-reverse">
          <div class="w-24 lg:w-32">
            <div class="aspect-w-1 aspect-h-1">
              {%-
                render 'image-with-placeholder',
                image: item.image,
                alt: item.title,
                width: 384,
                widths: '128w, 256w, 384w',
                sizes: '128w',
                class: 'object-cover rounded-lg'
              -%}
            </div>
          </div>

          <div class="space-y-1 flex-1">
            <p class="font-medium text-sm lg:text-lg">{{ item.title }}</p>
            <p class="text-grey-500 text-xs lg:text-base">{{ item.excerpt | strip_html }}</p>
          </div>
        </a>
      {% endfor %}
    </div>


    <div class="max-w-2xl">
      <div class="aspect-w-2 aspect-h-1 xl:aspect-w-5 xl:aspect-h-2">
        {%-
          render 'image-with-placeholder',
          image: article.image,
          alt: article.title,
          width: 4096,
          widths: '343w, 512w, 686w, 1024w, 1029w, 2048w, 4096w',
          sizes: 'calc(100vw - 2rem)',
          class: 'object-cover rounded-lg'
        -%}
      </div>

      <div class="sl-default-text-formatting mt-6">
        {{ article.content }}
      </div>
    </div>
  </div>
</article>
