<div class="bg-brand-gradient-bg space-y-4 text-white text-center py-8 px-6 xl:py-14 xl:space-y-14">
  <div>
    <h2 class="font-bold text-[1.375rem] xl:text-40p">{{- section.settings.heading -}}</h2>
    <p class="xl:text-3xl xl:mt-2">{{- section.settings.subheading -}}</p>
  </div>
  <img class="inline-block xl:w-[177px]" src="{{- section.settings.logo | image_url: width: 159 -}}" alt="{{- section.settings.bottom_text -}} logo">
  <p dir="ltr" class="font-medium font-Poppins xl:text-2xl">{{- section.settings.bottom_text -}}</p>
</div>

{%- schema %}
{
  "name": "Banner trusted",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "סיילי נבחר למותג האמין ביותר בארה”ב לשנת 2021 "
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "לפי סקר שנערך על ידי BrandSpark"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Text bottom",
      "default": "BrandSpark American Trust Study"
    }
  ]
}
{%- endschema %}
