{{ 'instagram-feed.css' | asset_url | stylesheet_tag }}



<section class="instagram-feed">
  <div class="instagram-feed__container">
    <div class="instagram-feed__header">
      {% if section.settings.instagram_url != blank %}
        <a href="{{ section.settings.instagram_url }}" 
           target="_blank" 
           rel="noopener noreferrer" 
           class="instagram-feed__badge">
          <div class="instagram-feed__icon">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_5368_4265)">
                <path d="M19.033 6.34279C18.9898 5.36314 18.8313 4.68964 18.6044 4.10603C18.3703 3.48656 18.0101 2.93194 17.5382 2.47088C17.0772 2.00265 16.5189 1.63882 15.9066 1.40836C15.3196 1.18142 14.6496 1.023 13.67 0.979804C12.683 0.932953 12.3697 0.922119 9.86643 0.922119C7.36319 0.922119 7.04986 0.932953 6.06655 0.976146C5.08689 1.01934 4.41339 1.1779 3.82993 1.4047C3.21031 1.63882 2.65569 1.99899 2.19464 2.47088C1.72641 2.93194 1.36271 3.49021 1.13211 4.10252C0.905174 4.68964 0.746752 5.35948 0.703559 6.33914C0.656707 7.32611 0.645874 7.63943 0.645874 10.1427C0.645874 12.6459 0.656707 12.9592 0.699901 13.9425C0.743094 14.9222 0.901657 15.5957 1.1286 16.1793C1.36271 16.7988 1.72641 17.3534 2.19464 17.8145C2.65569 18.2827 3.21397 18.6465 3.82627 18.877C4.41339 19.1039 5.08324 19.2623 6.06303 19.3055C7.04621 19.3489 7.35967 19.3596 9.86291 19.3596C12.3661 19.3596 12.6795 19.3489 13.6628 19.3055C14.6424 19.2623 15.3159 19.1039 15.8994 18.877C17.1385 18.3979 18.1182 17.4183 18.5972 16.1793C18.824 15.5922 18.9826 14.9222 19.0258 13.9425C19.069 12.9592 19.0798 12.6459 19.0798 10.1427C19.0798 7.63943 19.0761 7.32611 19.033 6.34279ZM17.3726 13.8705C17.3329 14.771 17.1817 15.2572 17.0556 15.5814C16.7458 16.3846 16.1083 17.0221 15.3051 17.3319C14.981 17.4579 14.4912 17.6092 13.5943 17.6487C12.6218 17.6921 12.3301 17.7027 9.87008 17.7027C7.41004 17.7027 7.11472 17.6921 6.14576 17.6487C5.24532 17.6092 4.75908 17.4579 4.43492 17.3319C4.0352 17.1841 3.67137 16.95 3.37605 16.6439C3.0699 16.3449 2.83578 15.9847 2.68805 15.585C2.56199 15.2609 2.41075 14.771 2.37121 13.8742C2.32788 12.9017 2.31718 12.6099 2.31718 10.1498C2.31718 7.6898 2.32788 7.39449 2.37121 6.42566C2.41075 5.52522 2.56199 5.03898 2.68805 4.71482C2.83578 4.31497 3.0699 3.95127 3.37971 3.65581C3.67854 3.34966 4.03872 3.11555 4.43857 2.96796C4.76273 2.84189 5.25263 2.69065 6.14942 2.65097C7.1219 2.60778 7.4137 2.59695 9.8736 2.59695C12.3373 2.59695 12.629 2.60778 13.5979 2.65097C14.4984 2.69065 14.9846 2.84189 15.3088 2.96796C15.7085 3.11555 16.0723 3.34966 16.3676 3.65581C16.6738 3.95479 16.9079 4.31497 17.0556 4.71482C17.1817 5.03898 17.3329 5.52874 17.3726 6.42566C17.4158 7.39814 17.4266 7.6898 17.4266 10.1498C17.4266 12.6099 17.4158 12.898 17.3726 13.8705Z" fill="black"/>
                <path d="M9.86659 5.40649C7.25178 5.40649 5.13025 7.52788 5.13025 10.1428C5.13025 12.7578 7.25178 14.8792 9.86659 14.8792C12.4815 14.8792 14.6029 12.7578 14.6029 10.1428C14.6029 7.52788 12.4815 5.40649 9.86659 5.40649ZM9.86659 13.2152C8.17023 13.2152 6.79424 11.8393 6.79424 10.1428C6.79424 8.44634 8.17023 7.07049 9.86659 7.07049C11.5631 7.07049 12.9389 8.44634 12.9389 10.1428C12.9389 11.8393 11.5631 13.2152 9.86659 13.2152Z" fill="black"/>
                <path d="M15.9004 5.21924C15.9004 5.82986 15.4053 6.32496 14.7946 6.32496C14.1839 6.32496 13.6888 5.82986 13.6888 5.21924C13.6888 4.60849 14.1839 4.11353 14.7946 4.11353C15.4053 4.11353 15.9004 4.60849 15.9004 5.21924Z" fill="black"/>
              </g>
              <defs>
                <clipPath id="clip0_5368_4265">
                  <rect width="18.4375" height="18.4375" fill="white" transform="translate(0.614624 0.922119)"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <span class="instagram-feed__badge-text">{{ section.settings.badge_text }}</span>
        </a>
        <div class="instagram-feed__divider"></div>
      {% endif %}
      
      <h2 class="instagram-feed__title">{{ section.settings.title }}</h2>
    </div>
    
    <div class="instagram-feed__grid">
      {% for block in section.blocks %}
        {% if block.settings.image != blank %}
          <div class="instagram-feed__item">
            <img src="{{ block.settings.image | image_url: width: 500 }}" 
                 alt="{{ block.settings.alt_text | default: 'Instagram post' }}"
                 loading="lazy">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Instagram Feed",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Instagram Feed"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL",
      "info": "Link to your Instagram profile"
    },
    {
      "type": "text",
      "id": "badge_text",
      "label": "Badge Text",
      "default": "Follow us"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Instagram Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text",
          "info": "Describe the image for accessibility"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instagram Feed",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}